/* .hamburger-menu-container {
    position: relative;


} */

/* @media(min-width: 800px) {
    .hamburger-menu-container {
        display: none;
    
    }
} */

.fa-bars, .fa-times {
    color: #6f4a8e;
    font-size: 40px;
    cursor: pointer;
    background: #050505; 
    padding: 5px;


}

.hamburger-menu-nav {
    width: 50vw;
    position: absolute;
    top: 0;
    z-index: 999;
    left: -70vw;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
}

@media(min-width: 400px) {
    .hamburger-menu-nav {
        width: 40vw;
    }
}

@media(min-width: 600px) {
    .hamburger-menu-nav {
        width: 30vw;
    }

}

/* .hamburger-menu-nav {
    width: 10vw;
    box-shadow: 1px 1px #888;
    position: absolute;
    top: 30;
    z-index: 999;
    background: #FFF;
    left: -45vw;
    transition: left 0.2s ease-in;
} */

.hamburger-menu-nav.show {
    left: 0;

}


/* .hamburger-menu-button {
    position: relative;
    z-index: 99;
} */

.fa-times {
    font-size: 50px;
}

/* .hamburger-menu-close-button {
    margin: 0 0 40px 0;
    display: flex;
    justify-content: flex-start;
   
    
} */


/* .hamburger-menu-items {
    background: #221F3B;
    padding: 0;
    margin-top: 1.8rem;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-left: -10px;

} */

/* .hamburger-menu-list-item {
    list-style: none;
    margin: 0 auto;
    width: 99%;
    border-bottom: 1px solid #6f4a8e;

    

} */

/* .hamburger-menu-link {
    text-decoration: none;
    color: #FFF;
    display: flex;
    padding: 10px 16px;
    


} */